@tailwind base;
@tailwind components;
@tailwind utilities;


body { 
    @apply p-0 m-0 overflow-x-hidden bg-black;
    box-sizing: border-box;
}


*::-webkit-scrollbar { 
    width: 0px;
    height: 0px;
}
