@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Martian Mono', monospace;
}

.portfolio-card {
  transition: transform 0.5s ease;
}
.portfolio-card.clicked {
  transform: translateX(10);
}
.vertical-timeline-element-content-arrow {
  width: 50px !important;
}